*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#app{
}
header{
    font-size: bold;
}
header:hover{
    color: blueviolet;
}
.jumbo{
    display: flex;
    height: 300px;
}
.jumbo img{
    height: 50%;
}
